.all-tweets {
  width: 1000px;
}

article {
  margin: 2em 0;
  border: 2px solid;
  padding: 1em;
}

.all-tweets img {
  width: 3em;
  height: 3em;
  margin-right: 0.5em;
}

.all-tweets header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.account {
  margin-right: 1em;
  display: none;
}

.user-profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.all-tweets article:hover {
  box-shadow: 10px 5px 5px rgb(148, 148, 238);
}

.all-tweets article:hover .account {
  color: rgb(148, 148, 238);
  display: block;
}

.all-tweets footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.all-tweets footer img {
  margin-left: 0.5em;
  width: 20px;
  height: 20px;
}

.tweet-date {
  font-size: 15px;
}